<!-- Navigation
    ==========================================-->
<nav id="menu" class="navbar navbar-default navbar-fixed-top">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="/home/main_page"><i class="fa fa-sun-o"></i> 온전<strong></strong></a> </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#home" class="page-scroll">홈</a></li>
        <!--<li><a href="#services-section" class="page-scroll">Services</a></li>-->
        <li><a href="#works-section" class="page-scroll">감상하기</a></li>
        <!--<li><a href="#about-section" class="page-scroll">About</a></li>-->
        <!--<li><a href="#team-section" class="page-scroll">등록하기</a></li>-->
        <!-- 여기 등록하기 루트 다시 만듬~~~ -->
        <li><%= link_to('등록하기',posts_new_path, :class => "page-scroll") %></li>
        <!-- 로그인 로그아웃 제대로 되는거 체크!~~~ -->
        <% if user_signed_in? %>
        
        <li><%= link_to('로그아웃', destroy_user_session_path, :method => :delete, :class => "page-scroll")  %> </li>
        <% else %>
        <li><%= link_to('로그인', new_user_session_path, :class => "page-scroll")  %>  </li>
        <% end %>
        <!-- Search Form -->
        <li>
          <%= form_tag(posts_search_path, method: "search") do %>
            <%= text_field_tag :term %>
            <%= submit_tag 'Search' %>
          <% end %>
        </li>
        
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid --> 
</nav>

<!-- Header -->
<header class="text-center" name="home">
  <div class="intro-text">
    <p style="font-size:100px"><strong>온라인 작품 전시관</strong><p>
    <p>나의 작품을 알려보세요!</p>
    <!-- 여기 등록하기 루트 다시 만듬~~~ -->
    <!--<a href="#contact-section" class="btn-default btn-lg page-scroll">등록하기</a> </div>-->
    <%= link_to('등록하기',posts_new_path, :class => "btn-default btn-lg page-scroll") %></div>
        
</header>

<!-- Services Section -->
<!--<div id="services-section" class="text-center">-->
<!--  <div class="container">-->
<!--    <div class="section-title center">-->
<!--      <h2>Our Services</h2>-->
<!--      <hr>-->
<!--      <div class="clearfix"></div>-->
<!--      <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus. Eleifend pellentesque natoque faucibus magna ut etiam.</p>-->
<!--    </div>-->
<!--    <div class="space"></div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-desktop"></i>-->
<!--        <h4>Web Design</h4>-->
<!--        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-gears"></i>-->
<!--        <h4>App Development</h4>-->
<!--        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque.</p>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-rocket"></i>-->
<!--        <h4>Branding</h4>-->
<!--        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque etiam.</p>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-sm-6 service"> <i class="fa fa-line-chart"></i>-->
<!--        <h4>Marketing</h4>-->
<!--        <p>Lorem ipsum dolor sit amet placerat facilisis felis mi in tempus eleifend pellentesque natoque.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Portfolio Section -->
<!--이동현 수정본-->
<div id="works-section">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>현재 이용자</h2>
      <hr>
      <div class="clearfix"></div>
      <p>전세계 작가들의 다양한 작품을 만나보세요!</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            <!--<li><a href="#" data-filter="*" class="active">전체</a></li>-->
            <!--<li><a href="#" data-filter=".web">문과</a></li>-->
            <!--<li><a href="#" data-filter=".app">이과</a></li>-->
            <!--<li><a href="#" data-filter=".branding">예체능</a></li>-->
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    
    
    <!-- 포스트의 랜덤으로 이미지 띄우기 (링크빼고완료) -->
    <div class="row">
      <div class="portfolio-items" align= "middle">
        <% @rand_posts.each do |post| %>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> 
              <!--<a href="/posts/index" rel="prettyPhoto">-->
              
              <!-- 아직 잘 안되는 부분 ㅠㅠ -->
              
              <div class="hover-text">
                <h4><%= User.find(post.user_id).school%></h4>
                <small><%= User.find(post.user_id).name%></small>
                <div class="clearfix"></div>
              </div>
              <!-- 랜덤으로 이미지 뜨는거~~ 추가했슴당 -->
              <!--<img src="img/portfolio/robot.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div> -->
              
              <%= image_tag post.img_url, class: "img-responsive", alt: "Project Title", align: "middle" %> </div>          </div>
        </div>
        <% end %>
        <!--<div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/cubes.png" rel="prettyPhoto">
              <div class="hover-text">
                <h4>인문대</h4>
                <small>어문/문화/사회과학</small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/cubes.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/molecule.png" rel="prettyPhoto">
              <div class="hover-text">
                <h4>자연대</h4>
                <small>자연과학</small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/molecule.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/first-aid-kit.png" rel="prettyPhoto">
              <div class="hover-text">
                <h4>의대</h4>
                <small>의학/간호/약학</small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/first-aid-kit.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/economic-investment.png" rel="prettyPhoto">
              <div class="hover-text">
                <h4>상경대</h4>
                <small>경제/경영</small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/economic-investment.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/classroom.png" rel="prettyPhoto">
              <div class="hover-text">
                <h4>교육대</h4>
                <small>교육</small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/classroom.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 branding app">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/paint-board-and-brush.png" rel="prettyPhoto">
              <div class="hover-text">
                <h4>예체능</h4>
                <small>음대/체대</small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/paint-board-and-brush.png" class="img-responsive" alt="Project Title"> </a> </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3 web">
          <div class="portfolio-item">
            <div class="hover-bg"> <a href="img/portfolio/ellipsis.png" rel="prettyPhoto">
              <div class="hover-text">
                <h4>기타</h4>
                <small>등등</small>
                <div class="clearfix"></div>
              </div>
              <img src="img/portfolio/ellipsis.png" class="img-responsive" alt="Project Title" align="middle"> </a> </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
<!--이동현 수정 끝-->
<!-- About Section -->
<!--<div id="about-section">-->
<!--  <div class="container">-->
<!--    <div class="section-title text-center center">-->
<!--      <h2>About Us</h2>-->
<!--      <hr>-->
<!--      <div class="clearfix"></div>-->
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p>-->
<!--    </div>-->
<!--    <div class="row">-->
<!--      <div class="col-md-6"> <img src="img/about.jpg" class="img-responsive"> </div>-->
<!--      <div class="col-md-6">-->
<!--        <div class="about-text">-->
<!--          <h4>Who We Are</h4>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>-->
<!--          <h4>What We Do</h4>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at. Duis sed dapibus leo nec ornare diam commodo nibh ante facilisis bibendum.</p>-->
<!--          <h4>Why Choose Us</h4>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed commodo nibh ante facilisis bibendum dolor feugiat at.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Achievements Section -->
<div id="achievements" class="section dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="achievement-box"> <span class="count">2300</span>
          <h4>등록된 작품 수</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="achievement-box"> <span class="count">329</span>
          <h4>등록한 작품 수 수</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="achievement-box"> <span class="count">230</span>
          <h4>대상 학과</h4>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="achievement-box"> <span class="count">726</span>
          <h4>누적 방문자 수</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team Section -->
<!--<div id="team-section" class="text-center">-->
<!--  <div class="container">-->
<!--    <div class="section-title center">-->
<!--      <h2>명예의 전당</h2>-->
<!--      <hr>-->
<!--      <p>자랑스러운 미트인 개발자를 소개합니다!</p>-->
<!--    </div>-->
<!--    <div id="row">-->
<!--      <div class="col-md-3 col-sm-6 team">-->
<!--        <div class="thumbnail"> <img src="img/team/01.jpg" alt="..." class="img-circle team-img">-->
<!--          <div class="caption">-->
<!--            <h3>이동현</h3>-->
<!--            <p>경제학과 13 / 멋사 5기</p>-->
<!--            <p>안녕하세요!</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-sm-6 team">-->
<!--        <div class="thumbnail"> <img src="img/team/02.jpg" alt="..." class="img-circle team-img">-->
<!--          <div class="caption">-->
<!--            <h3>정학연</h3>-->
<!--            <p>미국문화 16 / 멋사 5기</p>-->
<!--            <p>반갑습니다!</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-sm-6 team">-->
<!--        <div class="thumbnail"> <img src="img/team/03.jpg" alt="..." class="img-circle team-img">-->
<!--          <div class="caption">-->
<!--            <h3>김정원</h3>-->
<!--            <p>경제학과 16 / 멋사 5기</p>-->
<!--            <p>행복한 하루 되세요!</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3 col-sm-6 team">-->
<!--        <div class="thumbnail"> <img src="img/team/04.jpg" alt="..." class="img-circle team-img">-->
<!--          <div class="caption">-->
<!--            <h3>???</h3>-->
<!--            <p>??학과 ??학번</p>-->
<!--            <p>다음 미팅왕은 당신입니다!</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- Contact Section -->
<!--<div id="contact-section" class="text-center">-->
<!--  <div class="container">-->
<!--    <div class="section-title center">-->
<!--      <h2>미팅 지원하기</h2>-->
<!--      <hr>-->
<!--      <p>간단한 절차를 통해 편하게 미팅하세요</p>-->
<!--    </div>-->
<!--    <div class="col-md-6 col-md-offset-3">-->
      <!--<div class="col-md-4"> <i class="fa fa-map-marker"></i>-->
      <!--  <p>마포구 신수동 20번지<br>-->
      <!--  서강대학교 우정관 409호</p>-->
      <!--</div>-->
      <!--<div class="col-md-4"> <i class="fa fa-envelope-o"></i>-->
      <!--  <p>meetingmatch <br> -->
      <!--  @company.com</p>-->
      <!--</div>-->
      <!--<div class="col-md-4"> <i class="fa fa-phone"></i>-->
      <!--  <p> 010.1234.2424</p>-->
      <!--</div>-->
<!--  <hr>-->
<!--      <div class="clearfix"></div>-->
<!--    </div>-->
<!--    <div class="col-md-4 col-md-offset-4">-->
<!--      <h3>정보를 입력해주세요</h3>-->
<!--        <form action="/create" method="post">-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="form-group">-->
<!--              <input type="text" name="name" id="name" class="form-control" placeholder="이름" required="required">-->
<!--              <p class="help-block text-danger"></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-12">-->
<!--            <div class="form-group">-->
<!--              <input type="text" name="school" id="text" class="form-control" placeholder="학교" required="required">-->
<!--              <p class="help-block text-danger"></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-12">-->
<!--            <div class="form-group">-->
<!--              <input type="text" name="major" id="text" class="form-control" placeholder="학과" required="required">-->
<!--              <p class="help-block text-danger"></p>-->
<!--            </div>-->
<!--          </div>-->
            <!--<div class="col-md-6">-->
            <!--<div class="form-group">-->
            <!--  <input type="number" name="schoolnumber" id="text" class="form-control" placeholder="학번" required="required">-->
            <!--  <p class="help-block text-danger"></p>-->
            <!--</div>-->
        
        <!--<div class= "col-md-12">-->
        <!--    <div class="form-group">-->
        <!--      <textarea name="intro" id="message" class="form-control" rows="4" placeholder="20자 자기소개" required></textarea>-->
        <!--      <p class="help-block text-danger"></p>-->
        <!--    </div>-->
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">로그인 하기</button>
      </form>
    </div>
  </div>
</div>
</div>
<div id="social-section">
  <div class="container">
    <div class="social">
      <ul>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div class="container">
    <div class="fnav">
      <p>멋쟁이 사자처럼 5기 &copy; 서울시 마포구 신수동 26번지 010.1234.1234</p>
    </div>
  </div>
</div>
