<h1>My Page</h1>

<% if @my==nil%>

<h2>로그인하세요^_^</h2>
<%= link_to('로그인', new_user_session_path, :class => "page-scroll")  %>
<%else%>
<%@my.each do |post|%>
   Title <%=post.title%><br>
   Content <%=post.content%><br>
   Photo <%=image_tag post.img_url, style:"width:250px;"%><br>
   <a href="/edit/<%=post.id%>">Edit</a><br>
   <a href="/destroy/<%=post.id%>">Delete</a><br>
<%end%>
<%end%>