<h1>게시글 보는 곳</h1>
<%@post.each do |post|%>
   Title <%=post.title%><br>
   Content <%=post.content%><br>
   Photo <%=image_tag post.img_url, style:"width:250px;"%><br>
   
<%=form_for Comment.new, url: comment_create_path do |f|%>
    Comment <%=f.text_field :content%><br><br>
    <%=f.hidden_field :post_id, value: post.id %>
    <%=f.submit%>
<%end%>

<%post.comments.each do |comment|%>
    <%=comment.content%><br>
    
    <%= link_to '삭제하기', comments_destroy_path(id: comment.id) %><br>
    <%= link_to '수정하기', comments_edit_path(id: comment.id) %><br>
    
<%end%>
--------------------------------------<br>

<%end%>