<h1>
    Search!!!
</h1>
<% if @sch_posts == nil %>
    <h4>You searched wrong user</h4>
<% else %>
<%@sch_posts.each do |post|%>
   Title <%=post.title%><br>
   Content <%=post.content%><br>
   Photo <%=image_tag post.img_url, style:"width:250px;"%><br>
   
<%=form_for Comment.new, url: comment_create_path do |f|%>
    Comment <%=f.text_field :content%><br><br>
    <%=f.hidden_field :post_id, value: post.id %>
    <%=f.submit%>
<%end%>

<%post.comments.each do |comment|%>
    <%=comment.content%><br>
<%end%>
--------------------------------------<br>

<%end%>
<% end %>